<section>
  <figure></figure>
  <article>
    <form method="get" class="p-3">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label" for="nombres">Nombres</label>
          <input type="text" class="form-control" name="nombres" id="nombres" placeholder="Nombres">
        </div>
        <div class="form-group col-md-6">
          <label for="apellidos" class="form-label" >Apellidos</label>
          <input type="text" name="apellidos" id="apellidos" class="form-control" placeholder="Apellidos">
        </div>
      </div>
      <div class="form-row">
        <label for="direccion" class="form-label">Direccion</label>
        <input type="text" name="direccion" id="direccion" placeholder="direccion" class="form-control">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email" class="form-label" >Email</label>
          <input type="email" name="email" id="email" placeholder="example@gmail" required class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="telefono" class="form-label">Telefono</label>
          <input type="tel" name="telefono" id="telefono" placeholder="Telefono" required class="form-control">
        </div>
      </div>
      <div class="form-row">
        <label for="comentario" class="form-label">Comentarios</label>
        <textarea name="comentacion" rows="5" class="form-control" id="comentarios"></textarea>
      </div>
      <div class="form-row mt-4">
        <button class="btn btn-success btn-lg btn-block">Enviar Correo</button>
      </div>
    </form>
  </article>
</section>
